Flask==2.3.3
google-cloud-translate==3.15.5
requests==2.31.0
python-dotenv==1.0.0
azure-cognitiveservices-speech==1.32.1
azure-identity==1.15.0
Werkzeug==2.3.7
scikit-learn==1.5.1
numpy==1.26.4
kaggle==1.6.14